*{
    margin: 0;
    padding: 0;
}
:root{
    --todospace-background:rgba(226, 220, 218, 0.279);
    --todospace-border : rgba(255, 255, 255, 0.25);
    --border-Shadow_effect: rgba(72, 60, 60, 0.552);
    --btn1_bg : #66BB6A;
    --btn1_hover_bg : #4d8a50;
    --btn2_bg : #E63946;
    --btn2_hover_bg : #b22e39;
    --nav_p_bg: rgba(94, 94, 94, 0.253);
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #dfff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 5%;
}
.nav-firsthalf{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    background-color: var(--todospace-background);
    box-shadow: 0px 4px 16px 0px var(--border-Shadow_effect);

}
.nav-firsthalf p{
    width: 13%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
.nav-firsthalf p:hover{
    transform: scale(1);
    background-color: var(--nav_p_bg);
    border: 1px solid var(--todospace-border);
    box-shadow: 0px 4px 16px 0px var(--border-Shadow_effect);
}
.nav-secondhalf{
    margin-left: 15%;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: var(--todospace-background);
    box-shadow: 0px 4px 16px 0px var(--border-Shadow_effect);
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.mloginsignup{
    color: black;
}

.nav-secondhalf:hover{
    background-color: var(--nav_p_bg);
}
.todospace{
    width: 75%;
    height: 60%;
    margin-top: 8%;
    border-radius: 15px;
    background: var(--todospace-background);
    backdrop-filter: blur(12px);
    border: 1px solid var(--todospace-border);
    box-shadow: 0px 8px 32px 0px var(--border-Shadow_effect);
}
.header{
    width: 100%;
    height: 16%;
    display: grid;
    grid-template-columns: 7% 56% 37%;
    grid-template-rows: 100%;
}
.header-id{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
.main-task{
    width: 100%;
    height: 84%;
    display: grid;
    grid-template-rows: repeat(9,11%);
    grid-template-columns: 7% 56% 30% 7%;
    overflow: auto;
}
.btn-selector{
    width: 75%;
    height: 10%;
    margin-top: 2%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.todo-button{
    width: 15%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid var(--todospace-border);
    font-size: 16px;
    cursor: pointer;
}
.btn-1{
    background-color: var(--btn1_bg);
    box-shadow: 0px 4px 16px 0px var(--btn1_bg);
}
.btn-2{
    background-color: var(--btn2_bg);
    box-shadow: 0px 4px 16px 0px var(--btn2_bg);
}
.btn-1:hover{
    background-color: var(--btn1_hover_bg);
}
.btn-2:hover{
    background-color: var(--btn2_hover_bg);
}







/* css of login page  */

.blurpage {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 20;
}

.blurpage.show {
    display: flex;
}

.close-login {
    position: absolute;
    top: 15px;
    right: 20px;

    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.loutercircle{
    width: 45%;
    aspect-ratio: 1/1;
    background-color: #dfff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 8px 32px 0px var(--border-Shadow_effect);
}
.linnercircle{
    position: relative;
    width: 90%;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 8px 32px 0px var(--border-Shadow_effect);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.ldisplaylogin{
    font-size: 30px;
    font-weight: bold;
    background-color: var(--todospace-background);
    text-shadow: 0 0 10px var(--border-Shadow_effect);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 10%;
    
}
.lloginstatement{
    margin: 0;
    color: rgb(70, 68, 68);
}

.lloginform{
    font-size: 18px;
    width: 70%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blueviolet; */
    
}
.linputboxs{
    width: 90%;
    height: 60%;
    margin: 9% 0 0 0;
    font-size: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px var(--border-Shadow_effect);
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus{
    outline: none;
}
.gernal{
    /* border: none; */
    width: 90%;
    height: 90%;
    /* margin: 9% 0 0 0; */
    font-size: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    /* box-shadow: inset 0 0 10px var(--border-Shadow_effect); */
}

a{
    text-decoration: none;
    margin: 0;
}

.lforgot{
    margin: 3% 30px 0 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* poition: absolute; */
    /* right: 10px; */
    
}
#submitt{
    width: 90%;
    height: 55%;
    margin: 8% 0 0 0;
    font-size: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--border-Shadow_effect);
    color: rgb(70, 68, 68);
    cursor: pointer;
}

.lsignupinlogin{
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lasignup{
    color: red;
    cursor: pointer;
}


/* Sign up css */


.sblurpage {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 10;
}

.sblurpage.sshow {
    display: flex;
}

.sinputboxs{
    width: 90%;
    height: 11%;
    margin: 0% 0 0 0;
    font-size: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px var(--border-Shadow_effect);
    display: flex;
    justify-content: center;
    align-items: center;
}
#ssubmitt{
    width: 90%;
    height: 10%;
    margin: 8% 0 0 0;
    font-size: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--border-Shadow_effect);
    color: rgb(70, 68, 68);
    cursor: pointer;
}
.sdisplaylogin{
    font-size: 30px;
    font-weight: bold;
    background-color: var(--todospace-background);
    text-shadow: 0 0 10px var(--border-Shadow_effect);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 8%;
        
}
.sloginstatement{
    margin: 2% 0 4% 0;
    color: rgb(70, 68, 68);
}
.sasignup{
    color: red;
    cursor: pointer;
}